h1 {
    color:salmon;
    font-size:30px;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
    text-align:center;
}
p {
    text-align:justify;
    width:50%;
    border:1px solid rgb(220, 20, 60);
    padding:20px;
    border-radius:5px;
    box-shadow:5px 5px 20px rgba(220, 20, 60, 0.3);
    margin:auto;
}
.sample {
    margin-bottom:50px;
}
.imgBox,
.imgBoxTwo {
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    margin-top:20px;
    align-items:center;
}
img {
    width:150px;
    display:block;
    margin:auto;
}