h1 {
    color:salmon;
    font-size:30px;
    font-weight:bold;
    font-family:'Courier New', Courier, monospace;
}
p {
    text-align:justify;
    width:50%;
    border:1px solid crimson;
    padding:20px;
    border-radius:5px;
    box-shadow:5px 10px 3px rgba(0,0,0,0.3);
}
